@font-face {
    font-family: 'NotoSans-Bold'; 
    src: url('../public/assets/fonts/Noto_Sans/NotoSans-Bold.ttf')
}
@font-face {
    font-family: 'NotoSans-Regular'; 
    src: url('../public/assets/fonts/Noto_Sans/NotoSans-Regular.ttf')
}

* {
    font-weight: 600;
    box-sizing: border-box;
}

html, body {
    background: #fff;
    margin: 0;
}

/* content */
.content {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; 
    margin-top: 40px;
    margin-bottom: 40px;
}
/* Header */
.header {
    height: 60px;
    margin-top: 10px;
    grid-column: 2/3;
}
.header ul{
    list-style-type: none;
} 
.header img {
    max-height: 40px;
}
/* main */
.main{
    grid-column: 2/3;
}
/* Welcome component */
.welcome{
    text-align: center;
}
.welcome .btn-add{
      display: inline-block;
      background-color: rgb(36, 87, 158);
      margin-top: 20px;
      padding: 14px 60px;
      color:#fff;
      font-size: large;
      border: none;
      border-radius: 30px;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* ShopingList componenent */
.shopping-list{
    display: flexbox;
    text-align: center;
    justify-content: center;
    align-items: center;   
}
.shopping-list input[type="button"]{
    display: inline-block;
    box-shadow: 0 0 0 1000px white inset;
    border-style: none;
    text-decoration: underline;
    color: gray;
}
.shopping-list input:hover{
    color: black;
}
.shopping-list .btn-add{
    display: inline-block;
    background-color: rgb(22, 66, 128);
    margin-top: 20px;
    padding: 14px 60px;
    color:#fff;
    font-size: large;
    border: none;
    border-radius: 30px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
input.view-completed-items{
    display: inline-block;
    box-shadow: 0 0 0 1000px white inset;
    margin-top: 50px;
    color:red;
}
/* shopping table component */
.shopping-table{
    display: flexbox;
    width: 100%;
    border: none;
    line-height: 100px;
    justify-content: space-around;
}
.shopping-table .product-img{
   width: 100px;
   height: auto;
}